<!DOCTYPE html>
<html lang="ko">

<head>
    <title>API 테스트</title>
</head>

<body>
    <h1>API 테스트</h1>
    <hr>
    <button onclick="location.href='/data'">data</button>

    <h2>Account</h2>
    <h4>회원가입</h4>
    <form action="/account/signup" method="post">
        <p><input type="text" name="name" placeholder="이름 입력"></p>
        <p><input type="text" name="email" placeholder="email 입력"></p>
        <p><input type="text" name="password" placeholder="password 입력"></p>
        <p><input type="text" name="password_check" placeholder="password 확인"></p>
        <p><input type="text" name="nickname" placeholder="nickname 입력"></p>
        <p>
            <input type="submit" value="SEND">
        </p>
    </form>
    <h4>로그인</h4>
    <form action="/account/signin" method="post">
        <p><input type="text" name="email" placeholder="email 입력"></p>
        <p><input type="text" name="password" placeholder="password 입력"></p>
        <p>
            <input type="submit" value="SEND">
        </p>
    </form>
    <h4>닉네임 중복 확인</h4>
    <form action="/account/check-duplication" method="post">
        <p><input type="text" name="nickname" placeholder="nickname 입력"></p>
        <p>
            <input type="submit" value="SEND">
        </p>
    </form>

    <h2>Idea</h2>
    <h4>아이디어 작성</h4>
    <form action="/idea/create" method="post">
        <p><input type="text" name="user_id" placeholder="user_id 입력"></p>
        <p><input type="text" name="title" placeholder="title 입력"></p>

        <p><textarea name="overview">overview</textarea></p>
        <p><textarea name="description">description</textarea></p>
        <p><textarea name="thumbnail">thumbnail</textarea></p>

        <p><input type="text" name="category" placeholder="category 입력"></p>

        <p><input type="number" name="price" placeholder="가격 입력"></p>
        <p>
            <input type="submit" value="SEND">
        </p>
    </form>

    <h2>Collection</h2>
    <h4>컬렉션 목록에 추가</h4>
    <form action="/collection/add" method="post">
        <p><input type="text" name="user_id" placeholder="user_id 입력"></p>
        <p><input type="text" name="idea_id" placeholder="idea_id 입력"></p>
        <p>
            <input type="submit" value="SEND">
        </p>
    </form>

    <h2>Review</h2>
    <h4>리뷰 추가</h4>
    <form action="/review/create" method="post">
        <p><input type="number" name="customer_id" placeholder="customer_id 입력"></p>
        <p><input type="number" name="idea_id" placeholder="idea_id 입력"></p>

        <p><input type="text" name="title" placeholder="title 입력"></p>
        <p><textarea name="description"></textarea></p>
        <p><input type="number" name="rate" placeholder="별점 입력"></p>
        <p>
            <input type="submit" value="SEND">
        </p>
    </form>

    <h2>Mail</h2>
    <h4>쪽지 보내기</h4>
    <form action="/mail/send" method="post">
        <p><input type="number" name="from_id" placeholder="보내는 사람 입력"></p>
        <p><input type="number" name="to_id" placeholder="받는 사람 입력"></p>

        <p><textarea name="description">쪽지 내용</textarea></p>
        <p>
            <input type="submit" value="SEND">
        </p>
    </form>
    
</body>

</html>