<!DOCTYPE html>
<html>
    <head>
        <title>관리자 홈</title>
    </head>
    <body>
        <h1><a href='/manage'>관리자 페이지</a></h1>
        <ul>
            <li><a href="/manage/makeweeklyquest">주간퀘스트 추가</a></li>
            <li><a href="/manage/makedeptquest">학과퀘스트 추가</a></li>
            <li><a href="/manage/deptquests">학과퀘스트 리스트</a></li>
            <li><a href="/manage/requests">리퀘스트 리스트</a></li>
            <li><a href="/manage/makerequests">(임시)요청 넣기</a></li>
        </ul>
    </body>
</html>
