<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="http://localhost:8080/style/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div id="root">

        <div id="contents">
            <div id="title_wrapper">
                <div id="title">
                    <div id="up_wrapper">
                        <div id="up">
                            <div id="title_text">
                                꼬막 요리계의 혁명적 아이디어
                            </div>
                        </div>
                    </div>
                    <div id="down_wrapper">
                        <div id="down">
                            <div id="category_text">
                                친환경, 에코 프렌들리
                            </div>
                            <div id="date_text">
                                2023.01.24
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="semi_title_wrapper">
                <div class="semi_title">
                    아이디어 요약
                </div>
            </div>


            <div id="idea_summary_wrapper">
                <div id="idea_summary_text" class="font_default_set font_weight_regular font_size_16 font_color_black">
                    어른들의 영양간식 꼬막 무침, 간장 양념이 질린다는 생각 한 번쯤 해 보셨죠?
                    꼬막계에 혁명을 일으킬 비장의 꼬막 양념 아이디어, 지금 확인해 보세요!
                </div>
            </div>


            <div id="categories_wrapper">
                <div class="categories">
                    <span id="category_1" class="category_button">
                        <div id="category_text_1"
                            class="category_text_align font_default_set font_weight_regular font_color_black font_size_16">
                            #꼬막
                        </div>
                    </span>

                    <span id="category_2" class="category_button">
                        <div id="category_text_2"
                            class="category_text_align font_default_set font_weight_regular font_color_black font_size_16">
                            #와사비
                        </div>
                    </span>

                    <span id="category_3" class="category_button">
                        <div id="category_text_3"
                            class="category_text_align font_default_set font_weight_regular font_color_black font_size_16">
                            #신박한
                        </div>
                    </span>

                    <!-- <br> -->

                    <span id="category_4" class="category_button">
                        <div id="category_text_4"
                            class="category_text_align font_default_set font_weight_regular font_color_black font_size_16">
                            #쫄깃쫄깃
                        </div>
                    </span>

                    <span id="category_5" class="category_button">
                        <div id="category_text_5"
                            class="category_text_align font_default_set font_weight_regular font_color_black font_size_16">
                            #존맛
                        </div>
                    </span>
                </div>
            </div>


            <div id="idea_view_button_wrapper">
                <div id="idea_view_button" class="button_radius_4 font_default_set font_size_16"
                    onclick="idea_view_button_click(this)">
                    아이디어 열람
                </div>
            </div>

            <div class="dividing_line">
            </div>


            <div id="idea_details_wrapper">
                <!-- 상세 아이디어 추가될 곳 -->
            </div>


            <div id="profile_tab_wrapper">
                <div id="profile_tab" class="font_default_set">
                    <span id="profile">
                        <span id="profile_img_wrapper">
                            <span class="profile_img">
                                <div class="profile_img_border">
                                    <img class="profile_original_img" src="http://localhost:8080/images/test_profile.png">
                                </div>
                            </span>
                        </span>
                        <span class="user_info_text">
                            <div id="nickname" class="font_weight_bold font_size_18 font_color_black">
                                와사비 성애자
                            </div>
                            <div id="idea_number" class="font_size_16 font_color_grey">
                                판매 아이디어 79개
                            </div>
                        </span>
                    </span>
                    <span class="message_button">
                        쪽지 보내기
                    </span>
                </div>
            </div>


            <div class="dividing_line">
            </div>


            <div id="use_scope_wrapper">
                <div id="use_scope" class="font_default_set font_size_20 font_weight_bold" onclick="use_scope_button_click()">
                    <span id="use_scope_title">
                        이용 가능 범위
                    </span>
                    <span id="arrow_icon">
                        <img id="arrow_icon_img" src="http://localhost:8080/images/icon_arrow_Down.svg">
                    </span>
                </div>
            </div>

            <div id="to_add_use_scope">
                    <!-- 이용 가능 범위 detail 추가될 곳 -->
                
            </div>
        
        </div>

        <div id="end_line"></div>

        <div id="gray_empty_space" class="gray_empty_space">
        </div>




    </div>

    <script src="http://localhost:8080/js/idea_view_button_click.js"></script>
    <script src="http://localhost:8080/js/use_scope_button_click.js"></script>
</body>